@CHARSET "UTF-8";

body {
	background-color: #FCB64E;
	font-family: Verdana, "Lucida Sans Unicode", sans-serif;
    text-align: center;
    max-width: 100%;
}

.kopfzeile {
    background-color: #424242;
    overflow: auto;
    }

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: #424242;
    color: white;
    font-family: Verdana, "Lucida Sans Unicode", sans-serif;
    font-size: 75%;
}
    
 .container {
 width: 55%;
  }
    
#fragetext {
	text-align:left;
    font-family: Verdana, "Lucida Sans Unicode", sans-serif;
    color: #424242;
    font-size: 17px;
    line-height: 2;
    padding-bottom: 70px;
    }


a.MyButton, .MyButton {
	width: 335px !important;
	height: 68px;
	display: inline-block;
	padding: 15px;
	cursor: pointer;
	font-weight: bold;
	font-size: 110%;
	font-family: Verdana, "Lucida Sans Unicode", sans-serif;
	background-color: #424242;
	color: #fff;
	border: 2px solid black;
	border-radius: 10px;
				}
				
.MyButton:hover {
background-color: #6E6E6E;
}

.BackButton {
width: 170px;
height: 50px;
padding: 10px;
cursor: pointer;
font-weight: bold;
font-size: 108%;
font-family: Verdana, "Lucida Sans Unicode", sans-serif;
background: #424242;
color: #fff;
border: 2px solid black;
border-radius: 10px;
text-align: center;
}
.BackButton:hover {
color: #fff;
background: #6E6E6E;
}

h1 {
	font-family: Verdana, "Lucida Sans Unicode", sans-serif;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #424242;
    }

h2 {
	font-family: Verdana, "Lucida Sans Unicode", sans-serif;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    color: #424242;
	}

.schrift {
	padding-top:5px;
	padding-left:300px;
	font-size: 18px;
	float: right;
	}


#fragen {
line-height: 2; 
}


hr {
	height: 3px;
	margin: 0 auto;
	color: #000000;
	background: #FAAC58;
	}



.toggle-buttons input[type="radio"] {
	visibility: hidden;
	}

.toggle-buttons label {
	border: 1px solid #333;
	border-radius: 0.5em;
	padding: 0.5em;
	padding-top: 0.5em;
	cursor: pointer;
	background: white; 
	}

.toggle-buttons input:checked + label {
	background: black;
	color: #FAAC58;
	box-shadow: none;
	}

.skala-buttons input[type="radio"] {
	visibility: hidden;
	}

.skala-buttons label {
	border: 2px solid #333;
	font-size: 11px;
	font-weight: bold;
	color: black;
	padding: 0.5em;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
	width: 33px;	
	cursor: pointer;
	text-align: center;
	}

.skala-buttons input:checked + label {
	color: black;
	box-shadow: none;
	border: 4px solid black !important;
	}




.btn-group button {
  background-color: #424242; 
  border: 1px solid black; 
  color: white; 
  padding: 10px 15px; 
  cursor: pointer; 
  float: left; 
  font-size: 1em;
}



tr:hover {
  background-color: #f5f5f5;
  }
  
 th, td {
 border-bottom: 1px solid #424242;
 padding: 3px 6px 3px 6px;
 }

tr a {
	color: #424242;
	font-weight: bold;
}

tr a:hover {
	font-weight: bold;
	color: #424242;
}


.together {
	position: relative;
}

.together input {
	position: absolute;
	width: 1px;
	height: 1px;
	top: 0;
	left: 0;
}

.together label {
	margin: 0, 5em 0;
	border-radius: 0;
}

.together label:first-of-type {
	border-radius: 0.5em 0 0 0.5em;
}

.together label:last-of-type {
	border-radius: 0 0.5em 0.5em 0;
}

.abstand {
    float:left;
    width:260px;
}

a {
    color: #fff;
    width: 400px;
}
a:not([href]):not([tabindex]) {
    color: #fff;
    width: 400px;
}
a:not([href]):not([tabindex]):focus {
    color: #fff;
    width: 400px;
}
a:not([href]):not([tabindex]):hover{
    color: #fff;
    width: 400px;
}

input[type="submit"] {
   font-size: 1em; 
   padding: 5px 12px; 
   font-weight: 200;
   color: black;
   border: 1px solid silver;
   background-image: linear-gradient(to top, gainsboro 0%, white 90%);
   border-radius: 5px;
}

input[type="submit"]:hover {
	color: #FAAC58; 
	cursor: pointer;
}

.charts {
	width: 60%;
}

.GaugeMeter{
	Position:        Relative;
	Text-Align:      Center;
	Overflow:        Hidden;
	Cursor:          Default;
}

.GaugeMeter SPAN,
    .GaugeMeter B{
    	Margin:          0 23%;
    	Width:           54%;
    	Position:        Absolute;
    	Text-align:      Center;
    	Display:         Inline-Block;
    	Color:           RGBa(0,0,0,.8);
    	Font-Weight:     100;
    	Font-Family:     "Open Sans", Arial;
    	Overflow:        Hidden;
    	White-Space:     NoWrap;
    	Text-Overflow:   Ellipsis;
}

.GaugeMeter[data-style="Semi"] B{
	Margin:          0 10%;
	Width:           80%;
}

.GaugeMeter S, .GaugeMeter U{
    	Text-Decoration: None;
    	Font-Size:       .5em;
    	Opacity:         .5;
}

.GaugeMeter B{
	Color:           Black;
	Font-Weight:     300;
	Font-Size:       .5em;
	Opacity:         .8;
}


