.gauge {
    position: relative;
    display: inline-block;
    font-size: 33px;
    line-height: 1em;
    height: 1em;
    width: 2em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	float: top;
}

.gauge.gauge-big {
    font-size: 117px;
}

.gauge.gauge-small {
    font-size: 17px;
	float: top;
}

.gauge:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    font-size: 100%;
    height: 2em;
    width: 2em;
    line-height: 1em;
    border: 0.35em solid #666666;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    clip: rect(auto, auto, 1em, auto);
}

.gauge .gauge-arrow {
    height: 1em;
    width: 0.075em;
    margin-left: -.05em;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.gauge .gauge-arrow, .gauge .gauge-arrow:before {
    position: absolute;
    display: inline-block;
    background: #A6A6A6;
    left: 50%;
    border-radius: 50% 50% 50% 50% / 50% 50% 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.gauge .gauge-arrow:before {
    content: '';
    height: 0.15em;
    width: 0.15em;
    bottom: -0.1em;
    margin-left: -0.075em;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.gauge-red.gauge:before {
    border-color: #ff4e00;
}

.gauge-orange.gauge:before {
    border-color: #ffa600;
}

.gauge-yellow.gauge:before {
    border-color: #f9f865;
}

.gauge-green.gauge:before {
    border-color: #8ceab9;
}

gauge-blue.gauge:before {
    border-color: #2bc5ea;
}