<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="de">

<head>
	<title>Antwort Verwaltung</title>
	<link rel="icon" type="image/png" href="css/joymetry_favicon.png">
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="css/basic.css" >
</head>

<body>
	<div class="row">
       <div class="col-md-12"> <p><br></p></div>
    </div>
    
	<div class="row kopfzeile">
		<div class="col-md-12">
			<a href="/joymetryadmin"> <img src="css/logojoymetry.PNG" alt="Logo" width=390> </a>
    	</div>
    </div>
    
     <p><br></p>
     <p><br></p>
     
     <div class="container">
  		<div class="row">
    		<div class="col-md-12" id="fragetext">
     
	<h2>Antworten in der Datenbank</h2> <br>
	
	
	<h2>Bereits erfasste Antworten</h2>
		<table>
			<tr>
			 	<td> Antworten-ID </td>
			 	<td> Antwort </td>
			 	<td> Fragen-ID </td>
			 	<td> Frage </td>
			 	<td> Umfragen-ID </td>
			 	<td> Umfrage </td>
			</tr>
			<tr th:each="antwortfrageumfragebogen : ${antwortfrageumfragebogen}">
				<td th:text="${antwortfrageumfragebogen.getAid()}">99</td>
				<td th:text="${antwortfrageumfragebogen.getAntwort()}">Ding2</td>
				<td th:text="${antwortfrageumfragebogen.getFid()}">Ding2</td>
				<td th:text="${antwortfrageumfragebogen.getFrage()}">Ding2</td>
				<td th:text="${antwortfrageumfragebogen.getUid()}">Ding2</td>
				<td th:text="${antwortfrageumfragebogen.getUmfragebogen()}">Ding2</td>
							
				<td><a href="" th:href="${'/antwort?id=' + antwortfrageumfragebogen.getAid()}">bearbeiten</a></td>
				<td><a href="" th:href="${'/antwort/delete?id=' + antwortfrageumfragebogen.getAid()}">löschen</a></td>
			</tr>
		</table>
		
		<p><br></p>
     
     	
		<button>Export to CSV file</button>
		
		<script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-de7e2ef6bfefd24b79a3f68b414b87b8db5b08439cac3f1012092b2290c719cd.js"></script>
		
		<script id="rendered-js">
			      function download_csv(csv, filename) {
			  var csvFile;
			  var downloadLink;
			
			  // CSV FILE
			  csvFile = new Blob([csv], { type: "text/csv" });
			
			  // Download link
			  downloadLink = document.createElement("a");
			
			  // File name
			  downloadLink.download = filename;
			
			  // We have to create a link to the file
			  downloadLink.href = window.URL.createObjectURL(csvFile);
			
			  // Make sure that the link is not displayed
			  downloadLink.style.display = "none";
			
			  // Add the link to your DOM
			  document.body.appendChild(downloadLink);
			
			  // Lanzamos
			  downloadLink.click();
			}
			
			function export_table_to_csv(html, filename) {
			  var csv = [];
			  var rows = document.querySelectorAll("table tr");
			
			  for (var i = 0; i < rows.length; i++) {if (window.CP.shouldStopExecution(0)) break;
			    var row = [],cols = rows[i].querySelectorAll("td, th");
			
			    for (var j = 0; j < cols.length; j++) {if (window.CP.shouldStopExecution(1)) break;
			      row.push(cols[j].innerText);}window.CP.exitedLoop(1);
			
			    csv.push(row.join(","));
			  }
			
			  // Download CSV
			  window.CP.exitedLoop(0);download_csv(csv.join("\n"), filename);
			}
			
			document.querySelector("button").addEventListener("click", function () {
			  var html = document.querySelector("table").outerHTML;
			  export_table_to_csv(html, "table.csv");
			});
		</script>
					
			</div> <!-- fragetext -->
		</div> <!-- row -->
	</div>	<!-- container -->
	
	
</body>
</html>

