<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="de">

<head>
	<title>Antworten ansehen </title>
	<link rel="icon" type="image/png" href="css/joymetry_favicon.png">
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
	<link rel="stylesheet" href="css/basic.css" >
</head>

<body>
	<div class="row">
       <div class="col-md-12"> <p><br></p> </div>
    </div>
	
	
	<div class="row kopfzeile">
		<div class="col-md-12">
			<a href="/joymetryadmin"> <img src="css/logojoymetry.PNG" alt="Logo" width=390> </a>
    	</div>
    </div>
        
      <p><br></p>
      <p><br></p>
      
      
  <div class="container">
    
       <div class="row">
        <div class="col-md-12" id="fragetext">	
			<h2>Antworten zur Frage</h2><br>
		
		<table>
		
			<tr>
			 	<td> Antworten-ID </td>
			 	<td> Antwort </td>
				<td> Fragen-ID </td>

			</tr>
				
			<tr th:each="antworten : ${antwort}">
				<td th:text="${antworten.getId()}">99</th> 
				<td th:text="${antworten.getAntwort()}">Ding1</th>
				<td th:text="${antworten.getFid()}">Ding2</th>
				
							
			<!--<td><a href="" th:href="${'/antwortdetail?fid=' + antwort.getId()}">Ansehen</a></td>-->
			</tr>
					
		</table>
		</div> <!-- fragetext -->
		</div> <!-- row -->
		

      
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
</body>
</html>


