<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="de">

<head>
	<title>Umfrage beantworten</title>
	<link rel="icon" type="image/png" href="css/joymetry_favicon.png">
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="css/basic.css" >
	
</head>

<body>

	<div class="row">
       <div class="col-md-12"> <p><br></p> </div>
    </div>
    
    <div class="row kopfzeile">
		<div class="col-md-12">
			<a href="/"> <img src="css/logojoymetry.PNG" alt="Logo" width=390> </a>
    	</div>
    </div>
        
      <p><br></p>
      <p><br></p>
      
	
	<div class="container">
    <h1>Umfragebogen</h1> <br>
       <p><br></p>
       
       <div class="row">
       	
        <div class="col-md-12" id="fragetext">
  
		<div id=fragen>
		<form action="#" th:action="${postAction}" method="post" th:object="${antwortDetail}">    
			
			<div th:each="frage : ${fragen}">
				<span th:text="${frage.getFid()}">99</span> 
				<span th:text="${frage.getFrage()}">Ding1</span> 
				<input type="hidden" name="antwortDetail.id" th:value="*{id}" />
				<input type="hidden" name="antwortDetail.fid" th:value="${frage.getFid()}" />
				<input type="text" name="antwortDetail.antwort" th:value="*{antwort}" maxlength="200"/>
				<p><br></p>
			</div> 
			
		  	
 			<p><br></p>
    		<h2>Waren Sie zufrieden mit unserem Service?</h2> 
    		<br>
        	<div class="toggle-buttons">
				<input type="radio" id="happy" name="emoticon" value="happy" />
		    	<label for="happy"><img src="/css/happy.jpg" alt="I'm happy" width="125" height="125"/></label>
			    <input type="radio" id="sad" name="emoticon" value="unhappy"/>
		    	<label for="sad"><img src="/css/sad.jpg" alt="I'm sad" width="125" height="125"/></label>
		    	
	    	</div>

	    	<p><br></p>
	    	
    		<h2>Wie bewerten Sie unser Personal?</h2> 
    		<br>
        	<div class="skala-buttons">
				<input type="radio" id="01" name="skala" value="10" />
		    	<label for="01" style="background-color:#FF0000;" >1</label>
			    <input type="radio" id="02" name="skala" value="20" />
		    	<label for="02" style="background-color:#FF4000" >2</label>
		    	<input type="radio" id="03" name="skala" value="30" />
		    	<label for="03" style="background-color:#FF8000" >3</label>
		    	<input type="radio" id="04" name="skala" value="40" />
		    	<label for="04" style="background-color:#FFBF00" >4</label>
		    	<input type="radio" id="05" name="skala" value="50" />
		    	<label for="05" style="background-color:#FFFF00" >5</label>
		    	<input type="radio" id="06" name="skala" value="60" />
		    	<label for="06" style="background-color:#BFFF00" >6</label>
		    	<input type="radio" id="07" name="skala" value="70" />
		    	<label for="07" style="background-color:#80FF00" >7</label>
		    	<input type="radio" id="08" name="skala" value="80" />
		    	<label for="08" style="background-color:#40FF00" >8</label>
		    	<input type="radio" id="09" name="skala" value="90" />
		    	<label for="09" style="background-color:#00FF00" >9</label>
		    	<input type="radio" id="10" name="skala" value="100" />
		    	<label for="10" style="background-color:#01DF01" >10</label>
		    </div>
	    	<br>

			<input type="submit" value="Antwort speichern" onclick="return confirm('Vielen Dank für Ihre Antwort.')" />
			</form>
			</div>
			</div> <!-- fragetext -->
		</div> <!-- row -->
	</div>	<!-- container -->


	<div class="row">
       <div class="col-md-3">
         <form>
            <input class="BackButton" type="button" value="zurück" onclick="window.location.href='frageselektion'" />
         </form>
       </div>
     </div>
     
    <p><br></p>
    <p><br></p>
	
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>