<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="de">

<head>
	<title>Frage erstellen</title>
	<link rel="icon" type="image/png" href="css/joymetry_favicon.png">
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="css/basic.css" >
</head>

<body>

	<div class="row">
       <div class="col-md-12"> <p><br></p></div>
    </div>
    
	<div class="row kopfzeile">
		<div class="col-md-12">
			<a href="/joymetryadmin"> <img src="css/logojoymetry.PNG" alt="Logo" width=390> </a>
    	</div>
    </div>
    
     <p><br></p>
     <p><br></p>
	
 	<div class="container">
  		<div class="row">
    		<div class="col-md-12" id="fragetext">	
  
  			<h2>Neue Frage erstellen</h2>
  			<p><br></p>
  
			<form action="#" th:action="${postAction}" method="post" th:object="${frageDetail}">        
				<label for="name">Eine Frage eingeben:</label> 
		   		<input type="hidden" name="frageDetail.fid" th:value="*{fid}" />
				<input type="text" name="frageDetail.frage" th:value="*{frage}" maxlength="200" required/>
				<br>
				<br> Diagrammtyp auswählen: 
				<select name="frageDetail.type">
 			 		<option value="column">Balken-Diagramm</option>
 			 		<option value="pie">Kuchen-Diagramm</option>
 			  	</select>
				<br>
				<br> Umfrage auswählen: 
				<select name="frageDetail.uid">
 			 		<option th:each="umfragebogen : ${umfragebogen}" th:text="${umfragebogen.name}" th:value="${umfragebogen.uid}">Ding1</option>
				</select> 
			    <br>
			    <br><input type="submit" value="Speichern"  />
			</form>
	
	<p><br></p>
	<p><br></p>
			
		<h2>Bereits erstellten Fragen</h2>	
		<table>
			<tr>
			 	<td> Fragen-ID </td>
			 	<td> Frage </td>
			 	<td> Diagramm-Typ </td>
			 	<td> Umfragen-ID </uid>
			</tr>
			
			<tr th:each="frage : ${fragen}">
				<td th:text="${frage.getFid()}">99</th> 
				<td th:text="${frage.getFrage()}">Ding1</th>
				<td th:text="${frage.getType()}">Ding2</th>
				<td th:text="${frage.getUid()}">99</td> 
				
				<td><a href="" th:href="${'/frage?fid=' + frage.getFid()}">bearbeiten</a></td>
				<td><a href="" th:href="${'/frage/delete?fid=' + frage.getFid()}">löschen</a></td>
			</tr> 
		
		</table>
	
			</div> <!-- fragetext -->
		</div> <!-- row -->
	</div>	<!-- container -->
	

    <p><br></p>
		
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
</body>
</html>