<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="de">

<head>
	<title>Person Detail</title>
	<link rel="icon" type="image/png" href="css/joymetry_favicon.png">
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="css/basic.css" >
</head>

<body>
	<div class="row">
       <div class="col-md-12"> <p><br></p></div>
    </div>
    
	<div class="row kopfzeile">
		<div class="col-md-12">
			<a href="/joymetryadmin"> <img src="css/logojoymetry.PNG" alt="Logo" width=390> </a>
    	</div>
    </div>
    
     <p><br></p>
     <p><br></p>
     
     <div class="container">
  		<div class="row">
    		<div class="col-md-12" id="fragetext">
     
	<h2>Neue Person erfassen</h2> <br>
	
	<script type = "text/javascript">
  
      function validate() {
            if( myForm.name.value == "" ) {
            alert( "Please provide a name!" );
            return false;
         }
         
             if( myForm.vorname.value == "" ) {
            alert( "Please provide a vorname!" );
            return false;
         }
         
         alert( "Alles korrekt!" );
         return( true );
      }

</script>
	
	<form name="myForm" onsubmit="return validate();" action="#" th:action="${postAction}" method="post" th:object="${personDetail}" >
	
		<input type="hidden" name="personDetail.pid" th:value="*{pid}" /> 
		<label>Nachname:</label> <input type="text" name="name" th:value="*{name}"/> 
		<label>Vorname:</label> <input type="text" name="vorname" th:value="*{vorname}" maxlength="20"/> 
		
		<input type="submit"  />
	</form>
	
	<p><br></p>
	<p><br></p>
	
	<h2>Bereits erfasste Personen</h2>
		<table>
			<tr>
			 	<td> Personen-ID </td>
			 	<td> Nachname </td>
			 	<td> Vorname </td>
			</tr>
			<tr th:each="person : ${personen}">
				<td th:text="${person.getPid()}">99</td>
				<td th:text="${person.getName()}">Ding2</td>
				<td th:text="${person.getVorname()}">Ding2</td>
							
				<td><a href="" th:href="${'/person?pid=' + person.getPid()}">bearbeiten</a></td>
				<td><a href="" th:href="${'/person/delete?pid=' + person.getPid()}">löschen</a></td>
			</tr>
		</table>
	
			</div> <!-- fragetext -->
		</div> <!-- row -->
	</div>	<!-- container -->
	
	<p><br></p>
    <p><br></p>
	
	

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>