<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="de">

<head>
	<title>Umfragebogen erstellen</title>
	<link rel="icon" type="image/png" href="css/joymetry_favicon.png">
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="css/basic.css" >
</head>

<body>

	<div class="row">
       <div class="col-md-12"> <p><br></p></div>
    </div>
    
	<div class="row kopfzeile">
		<div class="col-md-12">
			<a href="/joymetryadmin"> <img src="css/logojoymetry.PNG" alt="Logo" width=390> </a>
    	</div>
    </div>
    
    <p><br></p>
    <p><br></p>
    
    <div class="container">
  		<div class="row">
    		<div class="col-md-12" id="fragetext">	
  
  			<h2>Neue Umfrage erstellen</h2>
  			<p><br></p>

	<form action="#" th:action="${postAction}" method="post" th:object="${umfragebogenDetail}">
	
		<input type="hidden" name="umfragebogenDetail.uid" th:value="*{uid}" /> 
		<label>Name der Umfrage eingeben:</label> 
		<input type="text" name="umfragebogenDetail.name" th:value="*{name}" maxlength="200" required/>
		<br>
		<br> Firma auswählen:
		<select name="umfragebogenDetail.eid">
 			 <option th:each="firma : ${firmen}" th:text="${firma.name}" th:value="${firma.eid}">Ding1</option>
		</select>
		<br> 
		<br> Person auswählen:
		<select name="umfragebogenDetail.pid">
 			 <option th:each="person : ${personen}" th:text="${person.name}" th:value="${person.pid}">Ding1</option>
		</select>
		<br>
		<br>
		<input type="submit" value="speichern" />
	
	</form>
	
			</div> <!-- fragetext -->
		</div> <!-- row -->
	</div>	<!-- container -->
	
	    
    <div class="row">
            <div class="col-md-12">
                <form >
                <a class="MyButton" onclick="window.location.href='/frage'"><img src="css/frage.svg" alt="frage" width="40"> weiter zu Frage erstellen</a>
                </form>
            </div>
     </div>
     
	<p><br></p>
	
	<div class="container">
  		<div class="row">
    		<div class="col-md-12" id="fragetext">
	
	<h2>Bereits erstellte Umfragen</h2>	
		<table>
			<tr>
			 	<td> Umfragen-ID </td>
			 	<td> Name der Umfrage </td>
			 	<td> Firmen-ID </td>
			 	<td> Personen-ID </td>
			</tr>
			
			<tr th:each="umfragebogen : ${umfragebogen}">
				<td th:text="${umfragebogen.getUid()}">99</th> 
				<td th:text="${umfragebogen.getName()}">Ding1</th>
				<td th:text="${umfragebogen.getEid()}">99</th> 
				<td th:text="${umfragebogen.getPid()}">99</th> 
				
				<td><a href="" th:href="${'/umfragebogen?uid=' + umfragebogen.getUid()}">bearbeiten</a></td>
				<td><a href="" th:href="${'/umfragebogen/delete?uid=' + umfragebogen.getUid()}">löschen</a></td>
			</tr> 
		
		</table>
	
	
			</div> <!-- fragetext -->
		</div> <!-- row -->
	</div>	<!-- container -->
	
         
     <p><br></p>
     	
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   

</body>
</html>